* {
   box-sizing: border-box;
   margin: 0;
   font-family: Lato, sans-serif;
}

.btn-open, .btn {
   width: max-content;
   background-color: #000;
   color: #ffffff;
}

.btn a {
   color: #fff;
   text-decoration: none;
}

.modal {
   display: none;
   background: rgba(0, 0, 0, 0.7);
}

.open {
   display: block;
}

.modal-content {
   width: 600px;
   margin: 0 auto;
   background: #fff;
}

.modal-content .header {
   height: 50px;
   padding: 16px;
   position: relative;
   text-align: center;
   background: #009688;
   color: #fff;
}

.modal-content .header h3 {
  text-align: center;
}


.modal-content .header i {
   position: absolute;
   top: 0;
   right: 0;
   padding: 17px;
}

.modal-content .header i:hover {
   background: red;
}

.modal-content .warning {
   margin: 8px 16px;
}

.modal-content .warning .block-warning {
   padding: 8px;
   border: 1px solid #f10;
   background: rgba(255, 15, 0, 0.3);
}
/* Validator */
.modal-content .form-content,
.modal-content .form-content .form-input,
.modal-content .form-content .btn-submit {
   margin: 4px 0;
   padding: 8px;
}

.modal-content .form-content,
.form-content .form-group {
   padding: 8px;
   display: flex;
   flex-direction: column;
}

.modal-content .form-content .btn-submit {
   margin: 8px;
}

.modal-content .form-content .message-error {
   padding-left: 4px;
   font-size: 14px;
   color: #f10;
}

.message-error > i {
   padding-right: 4px;
}

.invalid {
   border: 1px solid #f10!important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}